@{
    var bilimbank = "@bilimbank";
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string rights;
    string learningproc;
    string usagepol;
    string privpol;
    string about;
    string vacancies;
    string company;
    string companyinfo;
    string online;
    string prog;
    string webs;
    string fests;
    string carrier;
    string enter;
    if (Context.Session.GetInt32("language") == 0)
    {
        rights = "© 2023 Barcha huquqlar himoyalangan, bilimbank";
        learningproc = "O’quv jarayoni";
        usagepol = "Ishlatish shartlari";
        privpol = "Maxfiylik siyosati";
        about = "Maktab haqida";
        vacancies = "Bo’sh ishlar";
        company = "Tashkilotlarga";
        companyinfo = "Ta'lim tashkiloti haqida ma'lumot";
        online = "Onlayn kurslar";
        prog = "Dasturlar";
        webs = "Vebinarlar";
        fests = "Festivallar";
        carrier = "Karyera";
        enter = "Tizimga kirish";
    }
    else
    {
        rights = "© 2023 Все права защищены, bilimbank";
        learningproc = "Процесс обучения";
        usagepol = "Условия использования";
        privpol = "Политика конфиденциальности";
        about = "О школе";
        vacancies = "Вакансии";
        company = "Компаниям";
        companyinfo = "Сведения об образовательной организации";
        online = "Онлайн-курсы";
        prog = "Программы";
        webs = "Вебинары";
        fests = "Фестивали";
        carrier = "Карьера";
        enter = "Войти";
    }
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bilimbank</title>
    <!--<link rel="stylesheet" type="text/css" href="site.css">-->
    <link rel="stylesheet" href="~/css/Bilmbank.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-container-left_section">
                <img class="svg-logo" src="~/pict/logo-icon 2.svg">
                <div class="header-container-left_section-text">BilimBank</div>

            </div>
            <div class="header-container-right_section">
                <div class="header-container-right_section-lang">
                    <div class="header-container-right_section-lang-element"><a class="a-lang" href="@controller/ChangeLang/0">uz</a></div>
                    <div class="header-container-right_section-lang-element"><a class="a-lang" href="@controller/ChangeLang/1">ru</a></div>
                </div>
                <!--<button type="button" id="myBtn" class="header-container-right_section-login"></button>-->
                <a class="header-container-right_section-login" asp-controller="Account" asp-action="Login">@enter</a>
            </div>
        </div>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <footer>
        <div class="footer-cont">
            <div class="footer-cont-1">
                <img class="footer-logo" src="~/pict/logo-icon 1.svg">
                <div class="footer-cont-1-text">BilimBank</div>
            </div>
            <div class="footer-table">
                <div class="footer-table-column-1">
                    <div class="footer-table-column-1-1">
                        <div class="column-element">@about</div>
                        <div class="column-element">@vacancies</div>
                        <div class="column-element">@company</div>

                    </div>
                    <div class="footer-table-column-1-2">
                        <div class="column-element">@learningproc</div>
                        <div class="column-element">@usagepol</div>
                        <div class="column-element">@privpol</div>
                        <div class="column-element">@companyinfo</div>
                    </div>
                </div>
                <div class="footer-table-column-2">
                    <div class="column-element">@online</div>
                    <div class="column-element">@prog</div>
                    <div class="column-element">@webs</div>
                    <div class="column-element">@fests</div>
                    <div class="column-element">@carrier</div>
                </div>
                <div class="footer-table-column-3">
                    <div class="column-element">
                        <img class="footer-icon" src="~/pict/foot_teleg.png">
                        <a class="column-href" href="#">@bilimbank</a>
                    </div>
                    <div class="column-element">
                        <img class="footer-icon" src="~/pict/foot_inst.png">
                        <a class="column-href" href="#">@bilimbank</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="all-rights">
            <div class="all-rights-1">
                @rights
            </div>
        </div>
    </footer>
</body>
</html>