@{
	var bilimbank = "@bilimbank";

	string rights;
	string learningproc;
	string usagepol;
	string privpol;
	string lesson;
	string block;
	string intro;
	string test;
	string links;
	string ending;
	if (Context.Session.GetInt32("language") == 0)
	{
		rights = "© 2023 Barcha huquqlar himoyalangan, bilimbank";
		learningproc = "O’quv jarayoni";
		usagepol = "Ishlatish shartlari";
		privpol = "Maxfiylik siyosati";
		lesson = "Dars";
		block = "Bloklash";
		intro = "Kirish";
		test = "Test";
		links = "Havolalar va materiallar";
		ending = "Xulosa va sertifikat";

	}
	else
	{
		rights = "© 2023 Все права защищены, bilimbank";
		learningproc = "Процесс обучения";
		usagepol = "Условия использования";
		privpol = "Политика конфиденциальности";
		lesson = "Урок";
		block = "Блок";
		intro = "Введение";
		test = "Тест";
		links = "Ссылки и материалы";
		ending = "Заключение и сертификат";
	}
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Course intro</title>
	<link rel="stylesheet" type="text/css" href="~/css/Bilmbank.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="header-container">
			<div class="header-container-leftside">
				<a href="/">
					<img class="main-logo" src="~/pict/logo-icon 1.svg">
				</a>
				<div class="main-logo-text">BilimBank</div>
			</div>
			<div class="header-container-rightside">
				<a class="header-container-rightside-icon" href="/Account">
					<img class="arrow" src="~/pict/arrow.svg">
					<div class="header-container-rightside-icon-text">Все курсы</div>
				</a>
				<a class="header-container-rightside-icon" href="/NotFound">
					<img src="~/pict/shop.svg">
				</a>
				<a class="header-container-rightside-icon" href="/NotFound">
					<img src="~/pict/bell.svg">
				</a>
				<a class="ur_photo" asp-controller="Account" asp-action="Logout">
					<img src="~/pict/ur_photo.png">
				</a>
			</div>
		</div>
	</header>
	<div class="main-container">
		<div class="main-container-cont">
			<div class="main-container-list">
				<div class="main-container-list-p-flex">
					<p class="main-container-list-p">Введение в банковскую деятельность</p>
					<img src="~/pict/half-left-arrow.svg">
				</div>

				<ul class="main-ul">
					<li>@intro</li>
					<li>@links</li>
					<li>@block 1</li>
					<ul>
						<li class="not-main-li">@lesson 1</li>
						<li>@lesson 2</li>
						<li>@lesson 3</li>
					</ul>
					<li>@test</li>
					<li>@ending</li>
				</ul>
			</div>
			<div class="container">
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>
		</div>
	</div>
	<footer>
		<div class="footer-container">
			<div class="footer-element">
				<img class="footer-logo" src="~/pict/logo-icon 1.svg">
				@rights
			</div>
			<div class="footer-element">
				@learningproc
			</div>
			<div class="footer-element">
				@usagepol
			</div>
			<div class="footer-element">
				@privpol
			</div>
			<div class="footer-right">
				<div class="footer-element">
					<img class="footer-icon" src="~/pict/foot_teleg.png">
					@bilimbank
				</div>
				<div class="footer-element">
					<img class="footer-icon" src="~/pict/foot_inst.png">
					@bilimbank
				</div>
			</div>
		</div>
	</footer>
</body>
</html>