@model Backend.ViewModels.AccountViewModel
@{

    var collection = Model.AllCourses;

    Layout = "LKLayout";
    ViewBag.Title = "Home";
    string mycert;
    string mycourse;
    string myrecom;
    string rating;
    string allcourses;
    string passedcourses;
    string start;
    string startedcourses;
    string login;
    string inkart;
    if (Model.User.Lang==0)
    {
        mycert = "Mening sertifikatlarim";
        mycourse = "Mening kurslaring";
        myrecom = "Mening tavsiyalarim";
        rating = "Reyting";
        allcourses = "Barchasi kurslar";
        passedcourses = "Tugallanganlari";
        start = "Sotib olish";
        startedcourses = "Started courses";
        login = "Login";
        inkart = "Savatdan olib tashlang";
    }
    else
    {
        mycert = "Мои сертификаты";
        mycourse = "Мои курсы";
        myrecom = "Мои рекомендации";
        rating = "Рейтинг";
        allcourses = "Все курсы";
        passedcourses = "Завершённые курсы";
        start = "Начать";
        startedcourses = "Начатые курсы";
        login = "Войти";
        inkart = "Удалить из корзины";
    }

}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@functions {
    public long GetCourseId(long id)
    {
        return Model.ClickedCourseId = id;
    }
}
@if (Model.User is not null)
{
    <link rel="stylesheet" type="text/css" href="~css/My Account.css">
    <div class="main-container">
        <div class="account-data">
            <div class="user_data">
                <img class="user_data-photo" src="~/pict/Account/ur_photo.png">
                <div class="user_data-username">@User.Identity.Name</div>
            </div>
            <div class="user_info">
                <div class="user_info-block">
                    <img src="~/pict/Course/people.svg">
                    <div class="user_info-block-name">@Model.User.Name @Model.User.LastName @Model.User.SurName </div>
                </div>
                <div class="user_info-block">
                    <img src="~/pict/Account/bag.svg">
                    <div class="user_info-block-name">@Model.User.JobTitle in @Model.User.Organisation</div>
                </div>
                <div class="user_info-block">
                    <img src="~/pict/Account/rait.svg">
                    <div class="user_info-block-name">@rating</div>
                </div>
                <div class="user_info-block-1">
                    <div class="user_info-block-1-1">
                        <img src="~/pict/Course/peoples.svg">
                        <div class="user_info-block-name">@myrecom</div>
                    </div>
                </div>
                <div class="user_info-block">
                    <img src="~/pict/Account/sertif.svg">
                    <div class="user_info-block-name"><a asp-controller="Certificate" asp-action="Index">@mycert</a></div>
                </div>
            </div>
        </div>

        <div class="Demarcation-line"></div>

        <div class="my_acc-tab_menu">
            <div class="media-block">
                <div class="media-name">
                    <img class="media-name-svg" src="~/pict/Account/course.svg">
                    <div class="media-name-name"><a asp-controller="Account" asp-action="Index">@mycourse</a></div>
                </div>
            </div>
            <div class="mine_course">
                <div class="mine_course-sort">
                    <div class="mine_course-sort-element-1">
                        <form style="display:flex; margin-bottom: 0;" method=" get" asp-controller="Account" asp-action="ChangeFilterToAll">
                            <button type="submit" style="display:flex; border: none; align-items: center;">
                                @allcourses
                            </button>
                        </form>
                    </div>
                    <div class="mine_course-sort-element-2">
                        <img class="mine_course-sort-svg-icon" src="~/pict/Account/book-open.svg">
                        <form style="display:flex; margin-bottom: 0;" method="get" asp-controller="Account" asp-action="ChangeFilterToBought">
                            <button type="submit" style="display:flex; border: none; align-items: center;">
                                @startedcourses
                            </button>
                        </form>
                        <div class="mine_course-sort-element-3">
                            <img class="mine_course-sort-svg-icon" src="~/pict/Account/sber.svg">
                            <form style="display:flex; margin-bottom: 0;" method="get" asp-controller="Account" asp-action="ChangeFilterToPassed">
                                <button type="submit" style="display:flex;border: none; align-items: center;">
                                    @passedcourses
                                </button>
                            </form>
                        </div>
                        <div class="mine_course-sort-element-4">
                            <img src="~/pict/Account/sort.svg">
                        </div>
                    </div>
                </div>
                <div>
                    <scroll-container style="margin-right: 20px; min-width: 1000px;">
                        

                        @switch (Model.filter)
                        {
                            case "AllCourses":
                                {
                                    if (Model.InCartCourses is not null)
                                    {
                                        collection = Model.InCartCourses;
                                        @foreach (var item in collection)
                                        {
                                            var href = "/DeleteFromCart/"+item.Id;
                                            <scroll-page style="margin-right: 20px">
                                                <img class="cours-scroll" src=@item.MediaPath>
                                                <div class="cours-text">
                                                    <div class="cours-text-top">@item.Name</div>
                                                    <div class="cours-text-bot">@item.Description</div>
                                                </div>
                                                <div class="cours-info-block">
                                                    <img class="cours-info-block-src" src="~/pict/Account/bell.svg">
                                                    <div class="cours-info-block-hours-1">@item.Lessons.Count() lessons</div>
                                                    <div class="cours-info-block-hours-2">@item.Duration</div>
                                                    <a class="cours-info-block-button" style="background: #FF0000" href=@href>@inkart</a>
                                                </div>
                                            </scroll-page>
                                        }
                                    }
                                    collection = Model.AllCourses;
                                }
                                break;
                            case "BoughtCourses":
                                {
                                    collection = Model.BoughtCourses;
                                }
                                break;
                            case "PassedCourses":
                                {
                                    collection = Model.EndedCourses;
                                }
                                break;
                            default:
                                {
                                    collection = Model.AllCourses;
                                }
                                break;
                        }
                        @if (collection is not null)
                        {
                            @foreach (var item in collection)
                            {
                                var href = "/Course/GoToCourse/" + item.Id;
                                <scroll-page style="margin-right: 20px">
                                    <img class="cours-scroll" src=@item.MediaPath>
                                    <div class="cours-text">
                                        <div class="cours-text-top">@item.Name</div>
                                        <div class="cours-text-bot">@item.Description</div>
                                    </div>
                                    <div class="cours-info-block">
                                        <img class="cours-info-block-src" src="~/pict/bell.svg">
                                        <div class="cours-info-block-hours-1">Количество уроков:@item.Lessons.Count() lessons</div>
                                        <div class="cours-info-block-hours-2">Продолжительность:@item.Duration</div>
                                        <form method="get" asp-controller="Course" asp-action="Buy">
                                            <a class="cours-info-block-button" href=@href>@start</a>
                                        </form>
                                    </div>
                                </scroll-page>
                            }
                        }
                    </scroll-container>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <link rel="stylesheet" href="~/css/reg_form.css" asp-append-version="true" />
    <div style="align-items: center">Login please</div>
    <div style="margin-left: auto">
        <a class="header-container-right_section-login" asp-controller="Account" asp-action="Login">@login</a>
    </div>
}