@model Backend.ViewModels.AccountViewModel
@{

    var collection = Model.AllCourses;

    Layout = "LKLayout";
    ViewBag.Title = "Home";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@functions {
    public long GetCourseId(long id)
    {
        return Model.ClickedCourseId = id;
    }
}
@if (Model.User is not null)
{
    <link rel="stylesheet" type="text/css" href="~css/My Account.css">
    <div class="main-container">
        <div class="account-data">
            <div class="user_data">
                <img class="user_data-photo" src="~/pict/ur_photo.png">
                <div class="user_data-username">@User.Identity.Name</div>
            </div>
            <div class="user_info">
                <div class="user_info-block">
                    <img src="~/pict/people.svg">
                    <div class="user_info-block-name">@Model.User.Name @Model.User.LastName @Model.User.SurName </div>
                </div>
                <div class="user_info-block">
                    <img src="~/pict/bag.svg">
                    <div class="user_info-block-name">@Model.User.JobTitle in @Model.User.Organisation</div>
                </div>
                <div class="user_info-block">
                    <img src="~/pict/rait.svg">
                    <div class="user_info-block-name">Рейтинг</div>
                </div>
                <div class="user_info-block-1">
                    <div class="user_info-block-1-1">
                        <img src="~/pict/peoples.svg">
                        <div class="user_info-block-name">Мои рекомендации</div>
                    </div>
                </div>
                <div class="user_info-block">
                    <img src="~/pict/sertif.svg">
                    <div class="user_info-block-name"><a asp-controller="Certificate" asp-action="Index">Мои сертификаты</a></div>
                </div>
            </div>
        </div>

        <div class="Demarcation-line"></div>

        <div class="my_acc-tab_menu">
            <div class="media-block">
                <!--<div class="media-name-1">
                <img class="media-name-svg" src="~/pict/people.png">

                <div class="media-name-name"><a asp-controller="Account" asp-action="Index">Личный кабинет</a></div>
                    </div>-->
                <div class="media-name">
                    <img class="media-name-svg" src="~/pict/course.svg">
                    <div class="media-name-name"><a asp-controller="Account" asp-action="Index">Мои курсы</a></div>
                </div>
            </div>

            <div class="mine_course">
                <div class="mine_course-sort">
                    <div class="mine_course-sort-element-1">
                        <form style="display:flex; margin-bottom: 0;" method=" get" asp-controller="Account" asp-action="ChangeFilterToAll">
                            <button type="submit" style="display:flex; border: none; align-items: center;">
                                Все курсы
                            </button>
                        </form>
                    </div>
                    <div class="mine_course-sort-element-2">
                        <img class="mine_course-sort-svg-icon" src="~/pict/book-open.svg">
                        <form style="display:flex; margin-bottom: 0;" method="get" asp-controller="Account" asp-action="ChangeFilterToBought">
                            <button type="submit" style="display:flex; border: none; align-items: center;">
                                Начатые курсы
                            </button>
                        </form>
                        <div class="mine_course-sort-element-3">
                            <img class="mine_course-sort-svg-icon" src="~/pict/sber.svg">
                            <form style="display:flex; margin-bottom: 0;" method="get" asp-controller="Account" asp-action="ChangeFilterToPassed">
                                <button type="submit" style="display:flex;border: none; align-items: center;">
                                    Завершённые курсы
                                </button>
                            </form>
                        </div>
                        <div class="mine_course-sort-element-4">
                            <img src="~/pict/sort.svg">
                        </div>
                    </div>
                </div>
                <div>
                    <scroll-container style="margin-right: 20px; min-width: 1000px;">
                        @switch (Model.filter)
                        {
                            case "AllCourses":
                                {
                                    collection = Model.AllCourses;
                                }
                                break;
                            case "BoughtCourses":
                                {
                                    collection = Model.BoughtCourses;
                                }
                                break;
                            case "PassedCourses":
                                {
                                    collection = Model.EndedCourses;
                                }
                                break;
                            default:
                                {
                                    collection = Model.AllCourses;
                                }
                                break;
                        }
                        @if (collection is not null)
                        {
                            @foreach (var item in collection)
                            {
                                var hreff = "/Course/Buy/" + item.Id;
                                <scroll-page style="margin-right: 20px">
                                    <img class="cours-scroll" src="~/pict/cours-scroll.png">
                                    <div class="cours-text">
                                        <div class="cours-text-top">@item.Name</div>
                                        <div class="cours-text-bot">@item.Description</div>
                                    </div>
                                    <div class="cours-info-block">
                                        <img class="cours-info-block-src" src="~/pict/@item.MediaPath">
                                        <div class="cours-info-block-hours-1">@item.Lessons.Count()</div>
                                        <div class="cours-info-block-hours-2">@item.Duration</div>
                                        <form method="get" asp-controller="Course" asp-action="Buy">
                                            <a class="cours-info-block-button" href=@hreff>Начать</a>
                                        </form>
                                    </div>
                                </scroll-page>
                            }
                        }
                    </scroll-container>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <link rel="stylesheet" href="~/css/reg_form.css" asp-append-version="true" />
    <div style="align-items: center">Login please</div>
    <div style="margin-left: auto">
        <a class="header-container-right_section-login" asp-controller="Account" asp-action="Login">Войти</a>
    </div>
}