@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Backend.ViewModels.RegisterViewModel
@{
    Layout = "RegisterLayout";
    ViewBag.Title = "Registration";
    string name;
    string surname;
    string lastname;
    string email;
    string login;
    string password;
    string confirmpassword;
    string condition;
    string unnesessaryfield;
    string endreg;
    if (Context.Session.GetInt32("language") == 0)
    {
        name = "Ism";
        surname = "Familiya";
        lastname = "Sharif";
        email = "Elektron pochta";
        login = "Login";
        password = "Parol";
        confirmpassword = "Parolni tasdiqlang";
        condition = "Agar bank xodimi bo’lsangiz bankni ko’rsating*";
        unnesessaryfield = "(To’ldirish shart emas)";
        endreg = "Ro’yxatdan o’tish";
    }
    else
    {
        name = "Имя";
        surname = "Фамилия";
        lastname = "Отчество";
        email = "Почта";
        login = "Логин";
        password = "Пароль";
        confirmpassword = "Подтвердите пароль";
        condition = "Если вы являетесь сотрудником банка, укажите банк*";
        unnesessaryfield = "(Необязательное поле)";
        endreg = "Завершить регистрацию";
    }
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link rel="stylesheet" type="text/css" href="~/css/Bilmbank.css">
<link rel="stylesheet" type="text/css" href="~/css/reg_form.css">

<div class="main-container">
    <form id="log-form" class="log-block-form" asp-controller="Account" asp-action="Register">
        <div class="log-container">
            <label class="log-label" for="email">@name</label>
            <div class="RegFormValidation">
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <input asp-for="Name" class="reg-log-input" type="text" required>

            <label class="log-label" for="email">@surname</label>
            <div class="RegFormValidation">
                @Html.ValidationMessageFor(m => m.Surname)
            </div>
            <input asp-for="LastName" class="reg-log-input" type="text" required>

            <label class="log-label" for="psw">@lastname</label>
            <div class="RegFormValidation">
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
            <input asp-for="Surname" class="reg-log-input" type="text" required>

            <label class="log-label" for="psw">@email</label>
            <div class="RegFormValidation">
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <input asp-for="Email" class="reg-log-input" type="text" required>

            <label class="log-label" for="email">@login</label>
            <div class="RegFormValidation">
                @Html.ValidationMessageFor(m => m.Login)
            </div>
            <input asp-for="Login" class="reg-log-input" type="text" required>

            <label class="log-label" for="psw">@password</label>
            <div class="RegFormValidation">
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <input asp-for="Password" class="reg-log-input" type="password" required>

            <label class="log-label" for="psw">@confirmpassword</label>
            <div class="RegFormValidation">
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <input asp-for="ConfirmPassword" class="reg-log-input" type="password" required>

            <label class="log-label-l" for="psw">
                @condition<br>
                <div class="log-label-l-sr">@unnesessaryfield</div>
            </label>
            <input type="text" list="banks" class="reg-log-input" />
            <datalist id="banks">
                <option value="bank0">BilimBank</option>
                <option value="bank1">BilimBank</option>
                <option value="bank2">BilimBank</option>
            </datalist>
            <button type="submit" class="registerbtn">
                <div class="log-in-btn">@endreg</div>
            </button>
        </div>
    </form>
</div>