@model Backend.ViewModels.CertificateViewModel
@{
    ViewBag.Title = "Certificates";
    Layout = "LKLayout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string download;
    string invforbeg;
    string mycert;
    string mycourse;
    string myrecom;
    string rating;
    if (Model.User.Lang==0)
    {
        download = "Yuklab olish";
        invforbeg = "Boshlovchilar uchun investitsiya";
        mycert = "Mening sertifikatlarim";
        mycourse = "Mening kurslaring";
        myrecom = "Mening tavsiyalarim";
        rating = "Reyting";
    }
    else
    {
        download = "Скачать PDF";
        invforbeg = "Инвестиции для начинающих";
        mycert = "Мои сертификаты";
        mycourse = "Мои курсы";
        myrecom = "Мои рекомендации";
        rating = "Рейтинг";
    }
}
<link rel="stylesheet" type="text/css" href="~/css/Sertif_dwnl.css">
<div class="main-container">
    <div class="account-data">
        <div class="user_data">
            <img class="user_data-photo" src="~/pict/Account/ur_photo.png">
            <div class="user_data-username">@User.Identity.Name</div>
        </div>
        <div class="user_info">
            <div class="user_info-block">
                <img src="~/pict/people.svg">
                <div class="user_info-block-name">@Model.User.Name @Model.User.LastName @Model.User.SurName </div>
            </div>
            <div class="user_info-block">
                <img src="~/pict/bag.svg">
                <div class="user_info-block-name">@Model.User.JobTitle in @Model.User.Organisation</div>
            </div>
            <div class="user_info-block">
                <img src="~/pict/rait.svg">
                <div class="user_info-block-name">@rating</div>
            </div>
            <div class="user_info-block-1">
                <div class="user_info-block-1-1">
                    <img src="~/pict/peoples.svg">
                    <div class="user_info-block-name">@myrecom</div>
                </div>
            </div>
            <div class="user_info-block">
                <img src="~/pict/sertif.svg">
                <div class="user_info-block-name"><a asp-controller="Certificate" asp-action="Index">@mycert</a></div>
            </div>
        </div>
    </div>

    <div class="Demarcation-line"></div>

    <div class="sertif_dwnl-block">
        <div class="my_acc-tab_menu">
            <div class="media-block">
                <!--
                <div class="media-name-1">
                    <img class="media-name-svg" src="pict\people.png">
                    <div class="media-name-name">Личный кабинет</div>
                                </div>-->
                <div class="media-name">
                    <img class="media-name-svg" src="pict\Account\course.svg">
                    <div class="media-name-name"><div class="media-name-name"><a asp-controller="Account" asp-action="Index">@mycourse</a></div></div>
                </div>
            </div>
        </div>
        <div class="sertif_dwnl">
            @if (Model.Certificates is not null)
            {
                @foreach (var item in Model.Certificates)
                {
                    <div class="sertif_blank">
                        <div class="sertif_name">@invforbeg</div>
                        <img class="sertif_dwnl_img" src="pict\Account\sertif.png">
                        <div class="sertif-dwnl-btn">
                            <a class="header-container-right_section-login" asp-controller="Certificate" asp-action="DownloadCertificate" asp-route-id="@item.Id">@download</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>